@model DAL.Models.Workday
<div class="card mb-0">
    <div class="card-body">
        <div class="row">
            <div class="col-md-4 col-2">

            </div>
            <div class="col-md-4 col-8">
                <small>Seleccionar colaborador</small>
                <input id="employeeSearchInput" class="form-control" placeholder="Escribir el nombre del colaborador" />
            </div>
        </div>
        <div id="form" style="display:none">
            <hr />

            @using (Html.BeginForm("Edit", "Workday", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                <table class="table table-bordered">
                    <tr>
                        <td>
                            @Html.HiddenFor(m => m.EmployeeId, new { id="emplopyeeId" })
                            <strong>Inicio del turno</strong>
                            <input id="BeginningTime" name="BeginningTime" class="form-control" type="datetime-local"
                                   value="@Model.BeginningTime.ToString("yyyy-MM-dd HH:mm").Replace(' ','T')" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Inicio del break</strong>
                            @if (Model.BreakBeginningTime.HasValue)
                            {
                                <input id="BreakBeginningTime" name="BreakBeginningTime" class="form-control" type="datetime-local"
                                       value="@Model.BreakBeginningTime.Value.ToString("yyyy-MM-dd HH:mm").Replace(' ','T')" />
                            }
                            else
                            {
                                <input id="BreakBeginningTime" name="BreakBeginningTime" class="form-control" type="datetime-local" />
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Fin del break</strong>
                            @if (Model.BreakEndTime.HasValue)
                            {
                                <input id="BreakEndTime" name="BreakEndTime" class="form-control" type="datetime-local"
                                       value="@Model.BreakEndTime.Value.ToString("yyyy-MM-dd HH:mm").Replace(' ','T')" />
                            }
                            else
                            {
                                <input id="BreakEndTime" name="BreakEndTime" class="form-control" type="datetime-local" />
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Fin del turno</strong>
                            @if (Model.EndTime.HasValue)
                            {
                                <input id="EndTime" name="EndTime" class="form-control" type="datetime-local"
                                       value="@Model.EndTime.Value.ToString("yyyy-MM-dd HH:mm").Replace(' ','T')" />
                            }
                            else
                            {
                                <input id="EndTime" name="EndTime" class="form-control" type="datetime-local" />
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Comentarios</strong>
                            @Html.TextAreaFor(m => m.Comments, new { @class = "form-control" })
                        </td>
                    </tr>
                </table>
                <hr />
                <div class="row">
                    <div class="col-3 col-md-4">

                    </div>
                    <div class="col-6 col-md-4">
                        <button class="btn btn-primary btn-block">Crear turno</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var employeeId = 0;
        $('#employeeSearchInput').autocomplete({
            minChars: 1,
            source: function (request, response) {
                $.getJSON('/Employee/GetEmployeesForAutoComplete/', { query: request.term }, function (data) {                    
                    if (data.length > 0) {
                        response($.map(data, function (value, key) {
                            return {
                                label: value.Name,
                                value: value.Id
                            }
                        }));
                    }
                });
            },
            select: function (event, ui) {
                $('#employeeSearchInput').val(ui.item.label);
                $('#form').show();
                $('#emplopyeeId').val(ui.item.value);
                return false;
            }
        });
    });
</script>