@model List<DAL.DTO.EmployeeList>

<div class="card">
    <div class="card-body">
        @if (ViewBag.SuccessMessage != null)
        {
            <div class="alert alert-success" role="alert">
                @ViewBag.SuccessMessage
            </div>
        }
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        <div style="text-align:center">
                            Colaboradores de turno
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var employee in Model.Where(m => m.HasTimeRunning).OrderBy(m => m.Info))
                {
                    <tr>
                        <td>
                            <input style="display:none" id="@employee.Id-cedula" value="@employee.NationalId" />
                            <div id="@employee.Id" class="row toEmployeeInfo">
                                <div class="col-6">
                                    @employee.Info
                                </div>
                                <div class="col-3" style="text-align:center">
                                    @if (employee.HasTimeRunning)
                                    {
                                        <span class="badge badge-primar">
                                            <i class="icon-watch2"></i>
                                        </span>
                                    }
                                </div>
                                <div class="col-3" style="text-align:right">
                                    <i class="icon-arrow-right13"></i>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <hr />
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        <div style="text-align:center">
                            Lista de colaboradores
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var employee in Model.Where(m => !m.HasTimeRunning).OrderBy(m => m.Info))
                {
                    <tr>
                        <td>
                            <input style="display:none" id="@employee.Id-cedula" value="@employee.NationalId" />
                            <div id="@employee.Id" class="row toEmployeeInfo">
                                <div class="col-6">
                                    @employee.Info
                                </div>
                                <div class="col-3" style="text-align:center">
                                    @if (employee.HasTimeRunning)
                                    {
                                        <span class="badge badge-primary">De turno</span>
                                    }
                                </div>
                                <div class="col-3" style="text-align:right">
                                    <i class="icon-arrow-right13"></i>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div id="securityModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body" style="padding-top:25px; text-align:center">
                <small>Cédula</small>
                <input id="nationalIdInput" class="form-control" type="number" />
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var idSelected = 0;
        var nationalIdSelected = 0;
        $('.toEmployeeInfo').click(function (e) {
            idSelected = this.id;
            var toSearch = '#' + idSelected + '-cedula';
            nationalIdSelected = $(toSearch).val();
            @if (User.Identity.IsAuthenticated)
            {
                <text>
                   window.location.href = "/Employee/Info/" + idSelected;
                </text>
            }
            else
            {
                <text>
                    $('#securityModal').modal('show');
                    $('#nationalIdInput').focus();
                </text>
            }
        });

        $('#nationalIdInput').keyup(function () {
            if (this.value == nationalIdSelected) {
                window.location.href = "/Employee/Info/" + idSelected;
            }
        });
    })
</script>