@model IList<DAL.Models.Workday>
@using System.Globalization
@if (Model != null && Model.Count > 0)
{
    <div class="row">
        <div class="col-4 col-lg-10">

        </div>
        <div class="col-8 col-lg-2">
            <a href="/Report/DownloadWorkdays" target="_blank" class="btn btn-block btn-primary">
                Descargar
            </a>
        </div>
    </div>
    <br />
    <br />
    <div class="d-none d-xl-block">
        <table class="table table-bordered">
            <thead style="text-align:center">
                <tr>
                    <th>
                        Nombre
                    </th>
                    <th>
                        Inicio del turno
                    </th>
                    <th>
                        Detalles
                    </th>
                    <th>
                        Acciones del turno
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var workday in Model)
                {
                    <tr>
                        <td>
                            @workday.Employee.FullName()
                        </td>
                        <td>
                            @workday.BeginningTime.ToString("dddd", new CultureInfo("es-ES")) @workday.BeginningTime.ToString("dd") de @workday.BeginningTime.ToString("MMMM", new CultureInfo("es-ES")).Substring(0, 3).ToUpper() de @workday.BeginningTime.ToString("yyyy")
                            <br />
                            @workday.BeginningTime.ToString("hh:mm tt")
                        </td>
                        <td>
                            <span class="icon-cup2 text-muted"></span> @workday.GetMinutesInBreak() mins.
                            <br />
                            <span class="icon-watch2 text-muted"></span> @workday.GetHoursWorking() horas.
                        </td>
                        <td style="text-align:center">
                            <a target="_blank" href="/Workday/Edit/@workday.Id" class="btn-sm btn-primary">
                                Editar
                            </a>
                            &nbsp;
                            &nbsp;
                            <a target="_blank" href="/Workday/Remove/@workday.Id" class="btn-danger btn-sm">
                                Eliminar
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="d-xs-block d-xl-none">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        Colaborador
                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var workday in Model)
                {
                    <tr>
                        <td>
                            @workday.Employee.FullName()
                            <br />
                            @workday.BeginningTime.ToString("dd/MM/yyyy hh:mm tt")
                        </td>
                        <td style="text-align:center">
                            <a target="_blank" href="/Workday/Edit/@workday.Id" class="btn-sm btn-primary">
                                Editar turno
                            </a>
                            <br />
                            <br />
                            <a target="_blank" href="/Workday/Remove/@workday.Id" class="btn-danger btn-sm">
                                Eliminar turno
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div class="alert alert-info" style="text-align:center" role="alert">
        No hay datos para mostrar
    </div>
}
