@model DAL.DTO.EmployeeInfo

<div class="card">
    <div class="card-body">
        <div style="text-align:center">
            <strong class="text-primary">@Model.TodaysInfo</strong>
            <br />
            <strong class="text-primary">@Model.TodaysHourInfo</strong>
            <hr style="margin-bottom:15px;margin-top:15px" />
            <h3 style="margin-bottom:0px">@Model.Name</h3>
            <div class="form-group text-center text-muted content-divider">
                @Model.Position
            </div>
            <hr style="margin-bottom:15px;margin-top:15px" />
            <div style="text-align:center">
                @if (Model.HasTimeRunning || Model.TimeEnded)
                {
                    <div class="row">
                        <div class="col-12" style="text-align:center">
                            <strong class="text-primary">@Model.Workday.BeginningTime.ToString("hh:mm tt")</strong>
                            <br />
                            <strong class="text-secondary">Inicio del turno</strong>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        @if (!Model.HasBreakRunning && Model.BreakEnded)
                        {
                            <div class="col-6">
                                <strong class="text-primary">@Model.Workday.BreakBeginningTime.Value.ToString("hh:mm tt")</strong>
                                <br />
                                <strong class="text-secondary">Inicio del break</strong>
                            </div>
                            <div class="col-6">
                                <strong class="text-primary">@Model.Workday.BreakEndTime.Value.ToString("hh:mm tt")</strong>
                                <br />
                                <strong class="text-secondary">Fin del break</strong>
                            </div>
                        }
                        else
                        {
                            if (Model.HasBreakRunning)
                            {
                                <div class="col-6">
                                    <strong class="text-primary">@Model.Workday.BreakBeginningTime.Value.ToString("hh:mm tt")</strong>
                                    <br />
                                    <strong class="text-secondary">Inicio del break</strong>
                                </div>
                            }
                        }
                    </div>
                }
                else
                {
                    <strong class="text-primary">No se ha iniciado el turno</strong>
                }
            </div>
            <br />
            @if (Model.TimeEnded)
            {
                <hr />
                <div class="row">
                    <div class="col-12" style="text-align:center">
                        <strong class="text-primary">@Model.Workday.EndTime.Value.ToString("hh:mm tt")</strong>
                        <br />
                        <strong class="text-secondary">Fin del turno</strong>
                    </div>
                </div>
                <hr />
            }
            <div style="text-align:left">
                @*<strong>Notas:</strong>
                @Html.TextAreaFor(m => m.Workday.CommentsfromEmployee, new { @class="form-control", @id="comments" })*@
            </div>
            <br />
            <div>
                @if (Model.HasTimeRunning || Model.TimeEnded)
                {
                    if (!Model.HasBreakRunning && !Model.BreakEnded)
                    {
                        <div class="row">
                            <div class="col-6">
                                <button class="btn btn-block btn-warning processBreak">Iniciar Break <i class="icon-cup2"></i></button>
                            </div>
                        </div>
                    }
                    else if (Model.HasBreakRunning)
                    {
                        <div class="row">
                            <div class="col-3">

                            </div>
                            <div class="col-6">
                                <button class="btn btn-block btn-warning processBreak">Terminar Break <i class="icon-cup2"></i></button>
                            </div>
                        </div>
                    }
                    else if (Model.BreakEnded && !Model.TimeEnded)
                    {
                        <div class="row">
                            <div class="col-3">

                            </div>
                            <div class="col-6">
                                <button class="btn btn-block btn-primary processWorkDay">Terminar turno <i class="icon-watch2"></i></button>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <button class="btn btn-block btn-primary processWorkDay">Iniciar turno <i class="icon-watch2"></i></button>
                }
                @if (Model.TimeEnded)
                {
                    <button class="btn btn-block btn-primary processWorkDay">Iniciar nuevo turno <i class="icon-watch2"></i></button>
                }
            </div>
        </div>
    </div>
</div>

<div id="successModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body" style="padding-top:25px; text-align:center">
                <p id="messageText"></p>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.processWorkDay').click(function (e) {
            if (confirm("¿Está seguro(a) que desea realizar esta acción?") == true) {
                var comments = "";
                $.ajax({
                    url: "/Employee/ProcessWorkDay/" + @Model.Id,
                    type: 'GET',
                    success: function (data) {
                        $('#messageText').text(data);
                        $('#successModal').modal('show');
                        setTimeout(redirectToIndex, 3000);
                    }
                });
            }
        });

        $('.processBreak').click(function (e) {
            if (confirm("¿Está seguro(a) que desea realizar esta acción?") == true) {
                $.ajax({
                    url: "/Employee/ProcessBreak/" + @Model.Id,
                    type: 'GET',
                    success: function (data) {
                        $('#messageText').text(data);
                        $('#successModal').modal('show');
                        setTimeout(redirectToIndex, 3000);
                    }
                });
            }
        });
                
        var redirectToIndex = function(){
            window.location.replace("/Employee/Index");
        };
    })
</script>