@model List<DAL.DTO.EmployeeList>

<div class="card">
    <div class="card-body">
        @if (ViewBag.SuccessMessage != null)
        {
            <div class="alert alert-success" role="alert">
                @ViewBag.SuccessMessage
            </div>
        }
        <div class="row">
            <div class="col-sm-6 col-md-4 col-6">
                <a class="btn btn-primary btn-block" href="/Employee/Create">Crear nuevo</a>
            </div>
            <div class="col-sm-6 col-md-4 col-6">
                <a class="btn btn-primary btn-block" href="/Report/Workdays">Reportes</a>
            </div>
        </div>
        <br />
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        <div style="text-align:center">
                            Colaboradores en turno
                        </div>
                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var employee in Model.Where(m => m.HasTimeRunning))
                {
                    <tr>
                        <td>
                            <div id="@employee.Id" class="row">
                                <div class="col-8">
                                    @employee.Info
                                </div>
                                <div class="col-4">
                                    <span class="badge badge-primary">@employee.TimeBeginning</span>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="row">
                                <div class="col-6" style="text-align:right">
                                    <a class="btn btn-primary btn-sm btn-small" href="/Employee/Edit/@employee.Id">
                                        <i class="icon-pencil">

                                        </i>
                                    </a>
                                </div>
                                <div class="col-6" style="text-align:left">
                                    @if (employee.LastWorkDayId.HasValue)
                                    {
                                        <a class="btn btn-primary btn-sm btn-small" target="_blank" href="/Report/EditWorkDay/@employee.LastWorkDayId">
                                            <i class="icon-calendar">

                                            </i>
                                        </a>
                                    }
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <hr />
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        <div style="text-align:center">
                            Lista de colaboradores
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var employee in Model.Where(m => !m.HasTimeRunning))
                {
                    <tr>
                        <td>
                            <div id="@employee.Id" class="row">
                                @employee.Info
                            </div>
                        </td>
                        <td>
                            <div class="row">
                                <div class="col-4" style="text-align:center">
                                    <a class="btn btn-primary btn-sm btn-small" href="/Employee/Edit/@employee.Id">
                                        <i class="icon-pencil">

                                        </i>
                                    </a>
                                </div>
                                <div class="col-4" style="text-align:center">
                                    @if (employee.LastWorkDayId.HasValue)
                                    {
                                        <a class="btn btn-primary btn-sm btn-small" target="_blank" href="/Report/EditWorkDay/@employee.LastWorkDayId">
                                            <i class="icon-calendar">

                                            </i>
                                        </a>
                                    }
                                </div>
                                <div class="col-4" style="text-align:center">
                                    <a class="btn btn-danger btn-sm btn-small" href="/Employee/DeActivate/@employee.Id">
                                        <i class="icon-trash">

                                        </i>
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.toEmployeeEdit').click(function (e) {
            window.location.href = "/Employee/Edit/" + this.id;
        });
    })
</script>