@model List<DAL.DTO.EmployeeList>

<div class="card">
    <div class="card-body">
        @if (ViewBag.SuccessMessage != null)
        {
            <div class="alert alert-success" role="alert">
                @ViewBag.SuccessMessage
            </div>
        }
        <br />
        <div class="d-none d-xl-block">
            <div class="row">
                <div class="col-md-4">
                    <a class="btn btn-primary btn-block" href="/Employee/Create">Crear nuevo</a>
                </div>
                <div class="col-md-4">
                    <a class="btn btn-primary btn-block" href="/Report/Workdays">Reportes</a>
                </div>
                <div class="col-md-4">
                    <a class="btn btn-primary btn-block" href="/Report/AddWorkDay">Crear turno</a>
                </div>
            </div>
            <br />
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th colspan="5">
                            <div style="text-align:center">
                                Colaboradores en turno
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            Nombre
                        </th>
                        <th>
                            Inicio del turno
                        </th>
                        <th>
                            Tiempo de break
                        </th>
                        <th>
                            Tiempo total
                        </th>
                        <th>

                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var employee in Model.Where(m => m.HasTimeRunning))
                    {
                        <tr>
                            <td>
                                @employee.Info
                            </td>
                            <td>
                                @employee.TimeBeginning
                            </td>
                            <td>
                                @employee.Workday.GetMinutesInBreak() mins.
                            </td>
                            <td>
                                @employee.Workday.GetHoursWorking() horas.
                            </td>
                            <td>
                                <div class="row">
                                    <div class="col-6" style="text-align:center">
                                        <a class="btn-sm btn-primary" style="padding-left:3px;padding-right:3px" href="/Employee/Edit/@employee.Id">
                                            Editar emp.
                                        </a>
                                    </div>
                                    <div class="col-6" style="text-align:center">
                                        <a class="btn-sm btn-primary" style="padding-left:3px;padding-right:3px" href="/Report/EditWorkDay/@employee.Workday.Id">
                                            Editar turno.
                                        </a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="d-xs-block d-xl-none">
            <div class="row">
                <div class="col-md-4">
                    <a class="btn btn-primary btn-block" href="/Employee/Create">Crear nuevo</a>
                </div>
                <div class="col-md-4">
                    <a class="btn btn-primary btn-block" href="/Report/Workdays">Reportes</a>
                </div>
                <div class="col-md-4">
                    <a class="btn btn-primary btn-block" href="/Report/AddWorkDay">Crear turno</a>
                </div>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>
                            <div style="text-align:center">
                                Colaboradores en turno
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var employee in Model.Where(m => m.HasTimeRunning))
                    {
                        if (employee.Workday != null)
                        {
                            <tr>
                                <td>
                                    <div class="row">
                                        <div class="col-6">
                                            <i class="icon-user text-muted"></i> @employee.Info
                                        </div>
                                        <div class="col-6">
                                            <i class="icon-enter text-muted"></i> @employee.TimeBeginning
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-6">
                                            <i class="icon-cup2 text-muted"></i> <span style="margin-top:15px">@employee.Workday.GetMinutesInBreak() min.</span>
                                            @if (employee.Workday.BreakEndTime.HasValue)
                                            {
                                                <i class="icon-check text-muted"></i>
                                            }
                                        </div>
                                        <div class="col-6">
                                            <i class="icon-watch2 text-muted"></i> <span style="margin-top:15px">@employee.Workday.GetHoursWorking() horas.</span>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-6" style="text-align:center">
                                            <a class="btn-sm btn-primary" style="padding-left:3px;padding-right:3px" href="/Employee/Edit/@employee.Id">
                                                Editar emp.
                                            </a>
                                        </div>
                                        <div class="col-6">
                                            @if (employee.LastWorkDayId.HasValue)
                                            {
                                                <a class="btn-sm btn-primary" style="padding-left:3px;padding-right:3px" target="_blank" href="/Report/EditWorkDay/@employee.LastWorkDayId">
                                                    Editar turno
                                                </a>
                                            }
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                        else
                        {

                            <tr>
                                <td>
                                    <div class="row">
                                        <div class="col-6">
                                            <i class="icon-user text-muted"></i> @employee.Info
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-6" style="text-align:center">
                                            <a class="btn-sm btn-primary" href="/Employee/Edit/@employee.Id">
                                                Editar emp.
                                            </a>
                                        </div>
                                        <div class="col-6">
                                            @if (employee.LastWorkDayId.HasValue)
                                            {
                                                <a class="btn-sm btn-primary" target="_blank" href="/Report/EditWorkDay/@employee.LastWorkDayId">
                                                    Editar turno
                                                </a>
                                            }
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <hr />
        <div class="d-none d-xl-block">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th colspan="5">
                            <div style="text-align:center">
                                Lista de colaboradores
                                <br />
                                <small>Información del último turno</small>
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            Nombre
                        </th>
                        <th>
                            Inicio del turno
                        </th>
                        <th>
                            Tiempo de break
                        </th>
                        <th>
                            Tiempo laborado
                        </th>
                        <th>

                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var employee in Model.Where(m => !m.HasTimeRunning && m.Active))
                    {
                        <tr>
                            <td>
                                @employee.Info
                            </td>
                            @if (employee.Workday != null)
                            {
                                <td>
                                    @employee.Workday.BeginningTime.ToString("dd/MM/yyyy hh:mm tt")
                                </td>
                                <td>
                                    @employee.Workday.GetMinutesInBreak() mins.
                                </td>
                                <td>
                                    @employee.Workday.GetHoursWorking() horas.
                                </td>
                            }
                            else
                            {
                                <td colspan="3" style="text-align:center">
                                    N/A
                                </td>
                            }
                            <td>
                                <div class="row">
                                    <div class="col-6" style="text-align:center">
                                        <a class="btn-sm btn-primary" style="padding-left:3px;padding-right:3px" href="/Employee/Edit/@employee.Id">
                                            Editar emp.
                                        </a>
                                    </div>
                                    @if (employee.Workday != null)
                                    {
                                        <div class="col-6" style="text-align:center">
                                            <a class="btn-sm btn-primary" style="padding-left:3px;padding-right:3px" href="/Report/Editworkday/@employee.Workday.Id">
                                                Editar ult turno.
                                            </a>
                                        </div>
                                    }
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="d-xs-block d-xl-none">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>
                            <div style="text-align:center">
                                Lista de colaboradores
                                <br />
                                <small>Información de último turno</small>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var employee in Model.Where(m => !m.HasTimeRunning && m.Active))
                    {
                        if (employee.Workday != null)
                        {
                            <tr>
                                <td>
                                    <div class="row">
                                        <div class="col-6">
                                            <i class="icon-user text-muted"></i> @employee.Info
                                        </div>
                                        <div class="col-6">
                                            <i class="icon-enter text-muted"></i> @employee.Workday.BeginningTime.ToString("dd/MM/yyyy hh:mm tt")
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-6">
                                            <i class="icon-cup2 text-muted"></i> <span style="margin-top:15px">@employee.Workday.GetMinutesInBreak() min.</span>
                                            @if (employee.Workday.BreakEndTime.HasValue)
                                            {
                                                <i class="icon-check text-muted"></i>
                                            }
                                        </div>
                                        <div class="col-6">
                                            <i class="icon-watch2 text-muted"></i> <span style="margin-top:15px">@employee.Workday.GetHoursWorking() horas.</span>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-6" style="text-align:center">
                                            <a class="btn-sm btn-primary" style="padding-left:3px;padding-right:3px" href="/Employee/Edit/@employee.Id">
                                                Editar emp.
                                            </a>
                                        </div>
                                        <div class="col-6" style="text-align:center">
                                            @if (employee.LastWorkDayId.HasValue)
                                            {
                                                <a class="btn-sm btn-primary" style="padding-left:3px;padding-right:3px" target="_blank" href="/Report/EditWorkDay/@employee.LastWorkDayId">
                                                    Editar turno
                                                </a>
                                            }
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                        else
                        {

                            <tr>
                                <td>
                                    <div class="row">
                                        <div class="col-6">
                                            <i class="icon-user text-muted"></i> @employee.Info
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-6" style="text-align:center">
                                            <a class="btn-sm btn-primary" style="padding-left:3px;padding-right:3px" href="/Employee/Edit/@employee.Id">
                                                Editar emp.
                                            </a>
                                        </div>
                                        <div class="col-6" style="text-align:center">
                                            @if (employee.LastWorkDayId.HasValue)
                                            {
                                                <a class="btn-sm btn-primary" style="padding-left:3px;padding-right:3px" target="_blank" href="/Report/EditWorkDay/@employee.LastWorkDayId">
                                                    Editar turno
                                                </a>
                                            }
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.toEmployeeEdit').click(function (e) {
            window.location.href = "/Employee/Edit/" + this.id;
        });
    })
</script>